body {
  background-color: #000;
}

.stackblink-button {
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
}.stackblink-button:hover {
  background-color:#cecece;
  color:#444444;
  border: 1px solid red;
}.stackblink-button:active {
  position:relative;
  top:1px;
}
.stackblink-button.primary {
  background-color: #89C35C;
  color: #000;
}
/*
.stackblink-button.poor-quality {
  background-color: #ecd;
}
*/


#right-bar {
  position: fixed;
  top: 180px;
  /*left: 570px;*/
  left: 650px;
  width: 300px;
  background-color: #555;
  padding: 11px;
  padding-left: 15px;
}

#right-bar .hide-intro {
  float: right;
  font-size: 18px;
  cursor: pointer;
}

#right-bar li {
  padding: 8px;
}

#control-bar-inline {
  margin-top: 15px;
  margin-bottom: 15px;
}

.instruction {
  font-size: 28px;
}

.instruction-container {
  margin: 5px;
  margin-top: 15px;
}

.blink-options {
  margin-left: 20px;
}

.stats {
  margin-top: 20px;
  border-top: 1px solid #eee;

}
