body {
  margin-top: 50px;
}

.container-fluid > .sidebar {
  position: relative;
  top: 0;
  left:auto;
  width: 220px; /* width of sidebar */
}

.left {
  float:left;
}

.right {
  float:right;
}

.container-fluid > .content {
  margin: 0 240px; /* width of sidebars + 10px of margin */
}

.fixed-fluid {
  margin-left: 240px;
}

.welcome-blurb > * {
  font-size: 18px !important;
}
