<span id="custom-modal" ng-controller="CustomInputCtrl">
  or <a href="#" ng-click="StartCustomOrbit()">plot a custom orbit</a>.
  <div modal="show_custom_input" close="CloseCustomInput()" options="opts" style="display:none;">
      <div class="modal-header">
        <h4>Custom Orbit</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="custom_orbit_a">Semi-major axis</label>
            <div class="controls">
              <input ng-model="object.a" type="text">
              <span class="add-on">AU</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_e">Eccentricity</label>
            <div class="controls">
              <input ng-model="object.e" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_i">Inclination</label>
            <div class="controls">
              <input ng-model="object.i" type="text">
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_om">Long. Ascending Node</label>
            <div class="controls">
              <input ng-model="object.om" type="text">
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_w">Long. Perihelion</label>
            <div class="controls">
              <input ng-model="object.w" type="text">
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_ma">Mean anomaly</label>
            <div class="controls">
              <input ng-model="object.ma" type="text">
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_epoch">Epoch</label>
            <div class="controls">
              <input ng-model="object.epoch" type="text">
              <span class="add-on">JED</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_period">Period</label>
            <div class="controls">
              <input ng-model="object.per" type="text">
              <span class="add-on">days</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="UseCustomInput()">Ok</button>
        <button class="btn cancel" ng-click="CloseCustomInput()">Cancel</button>
      </div>
  </div>
</span>
