<div id="intro" ng-controller="IntroStatementCtrl" ng-show="show">
  <p>
    Asterank is a scientific and economic database of over 600,000 asteroids.
    <br>
    <br>
    We've collected, computed, or inferred important data such as asteroid
    mass and composition from multiple scientific sources. With this information,
    we estimate the costs and rewards of mining asteroids.
    <br>
    <br>
    Details on orbits and basic physical parameters are mostly sourced from
    JPL data. Composition data is less well known, so we compute generalizations
    based on spectral classification and size. Our calculations incorporate
    conclusions from multiple scientific publications in addition to cross-referencing
    known meteorite data.
  </p>
</div>
