<div ng-controller="AsteroidTableCtrl" ng-init="Init()">
  <div class="form-horizontal" style="height: 30px">
    <div style="float: left; display: block; margin-right: 15px;">
      Query:
      <select ng-options="x.text for x in sort_orders" ng-model="sort_by" ng-change="UpdateRankings()" style="height:24px">
      </select>
    </div>
    <div style="float: left;">
      Lookup:
      <input class="input-small" type="text" placeholder="433 Eros" style="height:15px;font-size:12px;"/>
    </div>
    <div style="float: right;">
      Show
      <select ng-options="x for x in limit_options" ng-model="limit" ng-change="UpdateRankings()" style="height:24px; width:70px;">
      </select>
    </div>
  </div>
  <div id="results-table-container">
    <table id="results-table" class="table table-striped-dark table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Type
          </th>
          <th>
            Overall Score
          </th>
          <th>
            Value ($)
          </th>
          <th>
            Est. Profit ($)
          </th>
          <th>
            Accessibility Score
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="asteroid in rankings" ng-click="AsteroidClick(asteroid)" ng-class="{info: selected.prov_des == asteroid.prov_des}">
          <td><span ng:bind="asteroid.name | ifempty:asteroid.prov_des"></span></td>
          <td><span ng:bind="asteroid.spec_B"></span></td>
          <td><span ng:bind="asteroid.score | number:3"></span></td>
          <td><span ng:bind="asteroid.price | fuzzynum"></span></td>
          <td><span ng:bind="asteroid.profit | fuzzynum"></span></td>
          <td><span ng:bind="asteroid.closeness | number:3"></span></td>
        </tr>
      </tbody>
    </table>
    <div id="results-table-loader" class="loader">
      Loading....
    </div>
  </div>
</div>
