<div class="form-horizontal">
  <div style="float: left; display: block; margin-right: 15px;">
    Showing:
    <select style="height:24px">
      <option value="cost effective">most cost effective</option>
      <option value="valuable">most valuable</option>
      <option value="accessible">most accessible</option>
      <option value="upcoming passes">upcoming passes</option>
    </select>
  </div>
  <div style="float: left;">
    Lookup:
    <input class="input-small" type="text" placeholder="433 Eros" style="height:15px;font-size:12px;"/>
  </div>
</div>
<div>
  <table class="table table-striped-dark table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Overall Score
        </th>
        <th>
          Value ($)
        </th>
        <th>
          Est. Profit ($)
        </th>
        <th>
          Accessibility Score
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
      <tr>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
        <td>
          Test
        </td>
      </tr>
    </tbody>
  </table>
</div>
