<div ng-controller="AsteroidTableCtrl" ng-init="Init()">
  <div class="form-horizontal" style="height: 30px">
    <div style="float: left; display: block; margin-right: 15px;">
      Query:
      <select ng-options="x.text for x in sort_orders" ng-model="sort_by" ng-change="UpdateRankings()" style="height:24px;font-size:12px;width:150px;">
      </select>
    </div>
    <div ng-controller="AsteroidLookupCtrl" ng-init="Init()" style="float: left; width: 280px;">
      Lookup:
      <span id="autocomplete-container" autocomplete-input="{{lookup_query}}" autocomplete=""></span>
    </div>
    <!-- CUSTOM INPUT -->
    <span id="custom-modal" ng-controller="CustomInputCtrl">
      or <a href="#" ng-click="StartCustomOrbit()">plot a custom orbit</a>.
      <div modal="show_custom_input" close="CloseCustomInput()" options="opts" style="display:none;">
          <div class="modal-header">
            <h4>Custom Orbit</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="custom_orbit_a">Semi-major axis</label>
                <div class="controls">
                  <input ng-model="object.a" type="text" id="custom_orbit_a">
                  <span class="add-on">AU</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_e">Eccentricity</label>
                <div class="controls">
                  <input ng-model="object.e" type="text" id="custom_orbit_e">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_i">Inclination</label>
                <div class="controls">
                  <input ng-model="object.i" type="text" id="custom_orbit_i">
                  <span class="add-on">deg</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_om">Long. Ascending Node</label>
                <div class="controls">
                  <input ng-model="object.om" type="text" id="custom_orbit_om">
                  <span class="add-on">deg</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_w">Long. Perihelion</label>
                <div class="controls">
                  <input ng-model="object.w" type="text" id="custom_orbit_w">
                  <span class="add-on">deg</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_ma">Mean anomaly</label>
                <div class="controls">
                  <input ng-model="object.ma" type="text" id="custom_orbit_ma">
                  <span class="add-on">deg</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_epoch">Epoch</label>
                <div class="controls">
                  <input ng-model="object.epoch" type="text" id="custom_orbit_epoch">
                  <span class="add-on">JED</span>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="custom_orbit_period">Period</label>
                <div class="controls">
                  <input ng-model="object.per" type="text" id="custom_orbit_period">
                  <span class="add-on">days</span>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="UseCustomInput()">Ok</button>
            <button class="btn cancel" ng-click="CloseCustomInput()">Cancel</button>
          </div>
      </div>
    </span>
    <!-- MAIN TABLE -->
    <div style="float: right;">
      Show
      <select ng-options="x for x in limit_options" ng-model="limit" ng-change="UpdateRankings()" style="height:24px; width:70px; font-size:12px">
      </select>
    </div>
  </div>
  <div id="results-table-container">
    <table id="results-table" class="table table-striped-dark table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Type
          </th>
          <th>
            <span title="Semi-major Axis">&alpha; (AU) <i class="icon-info-sign icon-white"></i></span>
          </th>
          <th>
            <span title="Eccentricity">e <i class="icon-info-sign icon-white"></i></span>
          </th>
          <th>
            Value ($)
          </th>
          <th>
            Est. Profit ($)
          </th>
          <th>
            Class
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="asteroid in rankings" ng-click="AsteroidClick(asteroid)" ng-class="{info: selected.full_name == asteroid.full_name}">
          <td><span ng-bind="asteroid.name | ifempty:asteroid.prov_des"></span></td>
          <td><span ng-bind="asteroid.spec_B"></span></td>
          <td><span ng-bind="asteroid.a | number:3"></span></td>
          <td><span ng-bind="asteroid.e | number:3"></span></td>
          <td><span ng-bind="asteroid.price | fuzzynum"></span></td>
          <td><span ng-bind="asteroid.profit | fuzzynum"></span></td>
          <td><span ng-bind="asteroid.class"></span> <span ng-show="asteroid.pha == 'Y'">(PHA)</span></td>
        </tr>
      </tbody>
    </table>
    <div id="results-table-loader" class="loader">
      Loading....
    </div>
  </div>

</div>
