<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">
        <strong>
          Asterank
        </strong>
      </a>
      <ul class="nav">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/about">
            About
          </a>
        </li>
        <li>
          <a href="/3d">
            Full 3D View
          </a>
        </li>
        <li>
          <a href="/exoplanets">
            Exoplanets View
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            APIs
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/api">
                Asterank API
              </a>
            </li>
            <li>
              <a href="/mpc">
                MPC API
              </a>
            </li>
            <li>
              <a href="/kepler">
                Kepler API
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <div class="share-buttons">
          <div style="margin:0" class="fb-like" data-href="http://www.asterank.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
          <a class="twitter-share-button" style="font-size:10px;" href="https://twitter.com/share" data-url="http://www.asterank.com" data-counturl="http://www.asterank.com" class="twitter-share-button" data-lang="en">Tweet</a>
          <g:plusone size="small" style="margin-left:0"></g:plusone>
        </div>
      </ul>
    </div>
  </div>
</div>
