<div id="selection-details" ng-controller="AsteroidDetailsCtrl" ng-show="asteroid != null">
  <h3 ng-bind="asteroid.full_name"></h3>
  <p ng-show="stats.length < 1">
    Please be patient as data is loaded from JPL...
  </p>
  <div id="orbit-2d-diagram"></div>
  <ul>
  <li ng-repeat="stat in stats" ng-show="stat.value && stat.value != ''">
  <strong ng-bind="stat.name"></strong><span ng-show="stat.units && stat.units != ''"> (<span ng-bind="stat.units"></span>)</span>: <span ng-bind="stat.value"></span>
  </li>
  </ul>
</div>
