<div class="span12" ng-controller="Asterank3DCtrl" ng-init="Init()">
  <div id="webgl-controls">
    <ul>
      <li><span ng-click="SunView()"><i class="icon-star-empty"></i> Sun</span></li>
      <li><span ng-click="EarthView()"><i class="icon-home"></i> Earth</span></li>
      <li ng-show="running"><span ng-click="Pause()"><i class="icon-pause"></i> Pause</span></li>
      <li ng-show="!running"><span ng-click="Play()"><i class="icon-play"></i> Play</span></li>
      <li><span ng-click="FullView()"><i class="icon-share-alt"></i> Full View</span></li>
    </ul>
  </div>
  <div id="webgl-not-supported" style="display:none;">
    <h3>
      Sorry, your browser or graphics card does not support this 3D visualization.
    </h3>
    <h3>
      Using <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> may solve this problem.
    </h3>
    <h4>
      A low quality video of the simulation is available <a target="_blank" href="http://www.youtube.com/watch?v=iJQ-2o8umAg">here</a>.
    </h4>
  </div>
  <div id="webgl-container">

  </div>
</div>
