<span id="custom-modal" ng-controller="CustomInputCtrl" ng-init="Init()">
  or <a href="#" ng-click="StartCustomOrbit()">plot a custom orbit</a>.
  <div modal="show_custom_input" close="CloseCustomInput()" options="opts" style="display:none;">
      <div class="modal-header">
        <h4>Custom Orbit</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="custom_orbit_a">Semi-major axis</label>
            <div class="controls">
              <input ng-model="object.a" type="text" id="custom_orbit_a"/>
              <span class="add-on">AU</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_e">Eccentricity</label>
            <div class="controls">
              <input ng-model="object.e" type="text" id="custom_orbit_e"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_i">Inclination</label>
            <div class="controls">
              <input ng-model="object.i" type="text" id="custom_orbit_i"/>
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_om">Long. Ascending Node</label>
            <div class="controls">
              <input ng-model="object.om" type="text" id="custom_orbit_om"/>
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_w">Long. Perihelion</label>
            <div class="controls">
              <input ng-model="object.w" type="text" id="custom_orbit_w"/>
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_ma">Mean anomaly</label>
            <div class="controls">
              <input ng-model="object.ma" type="text" id="custom_orbit_ma"/>
              <span class="add-on">deg</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_epoch">Epoch</label>
            <div class="controls">
              <input ng-model="object.epoch" type="text" id="custom_orbit_epoch"/>
              <span class="add-on">JED</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="custom_orbit_period">Period</label>
            <div class="controls">
              <input ng-model="object.per" type="text" id="custom_orbit_period"/>
              <span class="add-on">days</span>
            </div>
          </div>
<!--
          <div class="control-group">
            <label class="control-label" for="custom_orbit_upload">Real object?</label>
            <div class="controls">
              <input id="filepicker-widget" type="filepicker-dragdrop" data-fp-apikey="AB4d4lluSMiY6E0Rn5jOgz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-multiple="true" data-fp-maxsize="10485760" data-fp-services="COMPUTER,GOOGLE_DRIVE,GMAIL,URL,FTP" onchange="angular.element(this).scope().FilepickerCallback(event);" data-fp-button-text="Upload Images"/>
            </div>
          </div>
-->
        </form>
      </div>
      <div class="modal-footer">
        <div id="link-orbit-container" class="link-orbit-container">
        Share this orbit: <input ng-click="OrbitLinkFocused()" ng-model="direct_url" type="text" value="http://asterank.com/"/>
        </div>
        <button class="btn btn-success" ng-click="SaveAndUseCustomInput()">Ok</button>
        <button class="btn cancel" ng-click="CloseCustomInput()">Cancel</button>
      </div>
  </div>
</span>
{#
<iframe id="filepicker-iframe" ng-show="picking_file">

</iframe>
#}
