<div id="intro" ng-controller="IntroStatementCtrl" ng-show="show" style="padding-top: 1px; font-size:16px; line-height: 22px;">
  <p>
Astrokit is an open-source project providing web-based tools for astronomers.  Its primary focus is to create asteroid data analysis tools that are easy to use and widely accessible.  Its goal is to enable non-professionals (students, amateur astronomers, citizen scientists) to participate in the scientific process of asteroid discovery and characterization.
    <br>
    <br>
    The project is split into 4 main components:
    <ol>
      <li>An easy way to browse the set of asteroids known to scientists;</li>
      <li>A simple interface to solve astrometry for any image of the night sky;</li>
      <li>A service that computes relative photometry for moving objects in a series of these images;</li>
      <li>An interface that makes it easy to view derived light curves.</li>
    </ol>
    Visit the project <a href="https://github.com/typpo/astrokit">on Github</a> to learn more and get involved.
  </p>
</div>
