<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">
        <strong>
          AstroKit
        </strong>
      </a>
      <ul class="nav">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/about">
            About
          </a>
        </li>
        <li>
          <a href="/">
            Photometry
          </a>
        </li>
      </ul>
      <ul class="nav pull-right"></ul>
    </div>
  </div>
</div>
