!!!
html
  head
    <title>Asterank - 3D Asteroid Orbit Space Simulation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link  href="css/main.css" rel="stylesheet"/>
  </head>
body
  <noscript>Sorry, this page requires Canvas/WebGL, so you'll need to enable JavaScript.</noscript>

  script(type="x-shader/x-vertex", id="vertexshader")
    #define pi 3.141592653589793238462643383279

    varying vec2 vUv;

    attribute vec3 value_color;
    varying vec3 vColor;

    attribute float size;

    uniform float earth_i;
    uniform float earth_om;

    uniform float jed;

    attribute float a;
    attribute float e;
    attribute float i;
    attribute float o;
    attribute float P;
    attribute float ma;
    attribute float n;
    attribute float w;
    attribute float epoch;

    attribute float locked;
    varying float vLocked;

    vec3 getAstroPos() {
      float i_rad = (i - earth_i) * pi/180.0;
      float o_rad = (o - earth_om) * pi/180.0; // longitude of ascending node
      float p_rad = w * pi/180.0; // longitude of perihelion
      float ma_rad = ma * pi/180.0;
      float n_rad;
      if (P > 0.) {
        n_rad = 2.0 * pi / P;
      }
      else {
        n_rad = n * pi/180.0; // mean motion
      }

      float d = epoch - jed;
      float M = ma_rad + n_rad * d;

      // Estimate eccentric and true anom using iterative approx
      float E0 = M;
      // converted do/while:
      float E1 = M + e * sin(E0);
      float lastdiff = abs(E1-E0);
      E0 = E1;
      for (int foo=0; foo < 6; foo++) {
        E1 = M + e * sin(E0);
        lastdiff = abs(E1-E0);
        E0 = E1;
        if (lastdiff > 0.0000001) {
          break;
        }
      }
      float E = E0;
      float v = 2.0 * atan(sqrt((1.0+e)/(1.0-e)) * tan(E/2.0));

      // radius vector, in AU
      float r = a * (1.0 - e*e) / (1.0 + e * cos(v)) * {{PIXELS_PER_AU}};

      // heliocentric coords
      float X = r * (cos(o_rad) * cos(v + p_rad - o_rad) - sin(o_rad) * sin(v + p_rad - o_rad) * cos(i_rad));
      float Y = r * (sin(o_rad) * cos(v + p_rad - o_rad) + cos(o_rad) * sin(v + p_rad - o_rad) * cos(i_rad));
      float Z = r * (sin(v + p_rad - o_rad) * sin(i_rad));
      return vec3(X, Y, Z);
    }

    void main() {
      vColor = value_color;
      vLocked = locked;

      //vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
      vec3 newpos = getAstroPos();
      vec4 mvPosition = modelViewMatrix * vec4(newpos, 1.0);
      gl_Position = projectionMatrix * mvPosition;
      gl_PointSize = size;
      //vUv = uv2;
    }
  script(type="x-shader/x-fragment", id="fragmentshader")
    varying vec2 vUv;
    varying vec3 vColor;
    varying float vLocked;
    uniform vec3 color;
    uniform sampler2D small_roid_texture;
    uniform sampler2D small_roid_circled_texture;

    void main() {
      //gl_FragColor = texture2D(small_roid_texture, vUv);
      //vec4 sum = texture2D(small_roid_texture,
        //vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
     //gl_FragColor = sum;
//vec2 pos = mod(gl_PointCoord.xy, vec2(0.5, 0.5));
      if (vLocked == 0.0) {
      gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_texture,
        vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
      }
      else {
      gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_circled_texture,
        vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
      }
      /*
      float xs = gl_PointCoord.x - 0.5;
      float ys = gl_PointCoord.y - 0.5;
      float dist = sqrt(xs*xs + ys*ys);
      if (dist > 0.25) {
        gl_FragColor = texture2D(small_roid_texture,
          vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y))
          * vec4(1.0, 1.0, 1.0, 0.5);
      }
      else {
        gl_FragColor = texture2D(small_roid_texture,
          vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
      }
        */
      /*
      float opacity;
      if (dist > 0.25) {
        discard;
        return;
      }
      else if (dist < 0.05) {
        opacity = 1.0;
      }
      else {
        opacity = 0.1;
      }
      gl_FragColor = vec4(color, opacity);
       */
    }

  <div id="sidebar">
    <p>
    <a href="/">&laquo; Main site</a>
    </p>
    <div class="fb-like" data-href="http://www.asterank.com/3d" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    <a style="font-size:10px;" href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>

    <hr/>
    <div id="objects-of-interest-container" style="text-align:center;display:none;">
      <span>Significant Objects (est. value)</span>
      <table id="objects-of-interest">
        <tr id="sun-selector" data-full-name="sun" style="background-color:green;">
          <td colspan="2"><a href="#">Sun</a> (default view)</td>
        </tr>
        <!--
        <tr>
          <td colspan="2" data-full-name="earth">Earth</td>
        </tr>
        -->
      </table>

    </div>
  </div>
    <!--
  <div id="controls">
    <select id="search-type">
      <option value="score">Most cost effective</option>
      <option value="price">Most valuable</option>
      <option value="closeness">Most accessible</option>
    </select>
    <input type="button" value="Update"/>
    <a href="#" class="js-sort" data-sort="score" style="font-weight:bold;">Most cost effective</a>
    <a href="#" class="js-sort" data-sort="price">Most valuable</a>
    <a href="#" class="js-sort" data-sort="closeness">Most accessible</a>
    <input id="btn-toggle-movement" type="button" value="Toggle Movement"/>
  </div>
    -->
  <!-- three.js container -->
  <div id="container"></div>
  <!-- info on screen display -->
  <div id="loading">
    <img src="/images/loader.gif"/> Loading <span id="loading-text"></span>...
  </div>
  <div id="not-supported" style="display:none;">
    <p>
    <strong>Sorry, your computer or browser doesn't support webgl.  Most features of the simulation will not be available.</strong>
    </p>
    <p>
    You may be able to see the simulation if you..
    </p>
    <h2><a href="http://google.com/chrome">Get Chrome</a><br>or<br><a href="http://getfirefox.com">Get Firefox</a></h2>
    <p>
    <input type="submit" onClick="$('#not-supported').hide();return false;" value="Ignore for now"/>
    </p>
  </div>
  <div id="info">
    <div id="caption-container">
      <div id="main-caption" class="top">
      </div>
      <div id="other-caption" class="top">
      </div>
    </div>
    <div class="bottom" id="inlineDoc" >
      <span style="font-size:12px;margin-right:10px;color:#fff">
      <strong>Rotate</strong>: left click + drag; <strong>Pan</strong>: right click + drag; <strong>Zoom</strong>: scroll/middle click + drag
      <br>
      Hover over the big white asteroids for economic estimates.
      <br>
      The locations of asteroids and planets shown are scientifically accurate.</span>
<!--
      <span style="background-color:#913CEE;color:#000">Mercury</span>
      <span style="background-color:#ff7733;color:#000">Venus</span>
      <span style="background-color:#009acd;color:#000">Earth</span>
      <span style="background-color:#a63a3a;color:#000">Mars</span>
      <span style="background-color:#ff7f50;color:#000">Jupiter</span>
      <span style="background-color:#fff;color:#000">Asteroids</span>
-->
    </div>
  </div>

include jquery
!= renderJs('orbits-3d')

- if (context.production)
  include mixpanel
- else
  h3(style='color:red;text-align:center;') *DEVELOPMENT*
  <script>mixpanel = {track:function(){}}</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=230286373664292";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
