
h1 About

p This application is maintained by <a href="http://ianww.com">Ian Webster</a>.

h2 Accuracy

p Though I've made this as accurate within reason as I can, scientists know shockingly little about the details and composition of asteroids.  For example, if you check out <a href="http://ssd.jpl.nasa.gov/sbdb.cgi">JPL's Small Body Database</a>, you will notice how sparse the information is.  Although I tried hard to get as much accurate and up-to-date information as possible, realize that everything on this site is a <em>very</em> rough estimation.

p This sort of information is public, meaning not even experts have the numbers they need to estimate the true value of an asteroid or the cost of mining it.  That's why Planetary Resources is going to spend years or even decades investing in <a href="http://www.planetaryresources.com/technology/">LEO-telescopes and data-gathering flybys</a> before they ever touch an asteroid.

h2 Research & Sources

p
