extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        div.nav-collapse
          ul.nav
            li
              a(href='/') Home
            li.active
              a(href='/about') About
            li
              a(href='/feedback') Feedback

  div.span10
    div.row-fluid
      h1 About this site

      p This database is maintained by <a href="http://ianww.com">Ian Webster</a>.  The code is available <a href="http://github.com/typpo/asterank">on github</a>.

    div.row-fluid
      h2 Accuracy

      p Scientists know shockingly little about the composition of asteroids.  Visit the <a href="http://ssd.jpl.nasa.gov/sbdb.cgi">JPL's Small Body Database</a> and you will notice how sparse information is.  Thankfully, the information we do have is public. But this means not even experts have the numbers they need to completely and accurately estimate the true value of an asteroid or the cost of mining it.

      p This information scarcity is exactly why Planetary Resources is going to spend years or even decades investing in <a href="http://www.planetaryresources.com/technology/">LEO-telescopes and data-gathering flybys</a> before they ever touch an asteroid.

      p Although I tried hard to get as much accurate, up-to-date information as possible, everything on this site is a rough estimation.  The primary purpose of this site is to broadly educate and inspire, rather than provide completely accurate data (which is currently impossible).

    h2 Goal
    p There are three major factors affecting the cost of and return on an asteroid mining venture:
      ol
        li <strong>Value of Materials</strong> - Many asteroids contain metals, volatile compounds, and water.
        li <strong>Cost of Operations</strong> - Getting to an asteroid and moving the raw material isn't easy or cheap.
        li <strong>Comparative Savings</strong> - The biggest obstacle to the commercialization of space is getting things into orbit.  How much money do we save by mining in space instead of sending material up from Earth?
    p This site mostly addresses #1 and #2.  #3 is more or less a given, considering that a) Moving a kg from Earth into LEO sometime in the next few years will cost $2,000 at best, and b) many materials, especially rare metals like platinum, do not exist in high quantities and concentrations on Earth.

    div.row-fluid
      h2 Research & Sources

      p A number of references, including:
      ul
        li <a href="http://ssd.jpl.nasa.gov/sbdb.cgi#top">JPL's Small Body Database</a>
        li <a href="http://neo.jpl.nasa.gov/ca/">JPL Close Approaches</a>
        li <a href="http://www.minorplanetcenter.net/iau/lists/Dangerous.html">Minor Planet Center</a>
        li <a href="http://smass.mit.edu/catalog.php">MIT SMASS Survey</a>
        li <a href="http://echo.jpl.nasa.gov/~lance/delta_v/delta_v.rendezvous.html">Lance Benner's delta-v calculations</a>
        li <a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CD0QFjAB&url=http%3A%2F%2Fwww.nhm.ac.uk%2Fresearch-curation%2Fresearch%2Fprojects%2Fmetcat%2FClass.rtf&ei=H0ejT6CLPIKpiQKH2dHdAw&usg=AFQjCNExa9jhGl5eJqlWUfC0s9a9TkvJYw&sig2=OGUk3xV2184-NwNIF7k38w">Classified List of Meteorites</a>
        li <a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CCoQFjAA&url=http%3A%2F%2Fwww-pao.ksc.nasa.gov%2Fkscpao%2Fnasafact%2Fps%2FSSP.ps&ei=HUWjT8DaH43SiALzwbHwAw&usg=AFQjCNEMiqog8TpHYyUiZLPZvtLpZUmCuA&sig2=weEJFTyVMUnJ3_S_y7B1Wg">NASA LVDC Fact Sheet</a>
        li <a href="http://www.lme.com/">The London Metal Exchange</a>
        li <a href="http://www.outofthecradle.net/WordPress/wp-content/uploads/srn_v3n12.pdf">Asteroids: Sources of Precious Metals</a>
        li <a href="http://www.nss.org/settlement/asteroids/key.html">Asteroid Mining: Key to the Space Economy</a>

      p A number of papers, books, and presentations on this subject, including:
      ul
        li <a href="http://adsabs.harvard.edu/abs/2012arXiv1203.4336C">Density of Asteroids</a>
        li <a href="http://www.lpi.usra.edu/books/AsteroidsIII/pdf/3022.pdf">Asteroid Density, Porosity, and Structure</a>
        li <a href="http://www.lpi.usra.edu/books/AsteroidsIII/pdf/3008.pdf">Asteroid Masses and Densities</a>
        li <a href="http://www.nss.org/settlement/asteroids/RoleOfNearEarthAsteroidsInLongTermPlatinumSupply.pdf">The Role of Near-Earth Asteroids in Long-Term Platinum Supply</a>
        li <a href="http://2004.isdc.nss.org/settlement/asteroids/NearEarthAsteroidMining(Ross2001).pdf">Near-Earth Asteroid Mining</a>
        li <a href="http://www.uapress.arizona.edu/onlinebks/ResourcesNearEarthSpace/resources19.pdf">Review of Asteroid Compositions</a>
        li <a href="http://adsabs.harvard.edu/abs/1992Metic..27Q.207B">The Reflectance Spectrum of Troilite and the T-Type Asteroids</a>
        li <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1945-5100.2008.tb00671.x/abstract">A database of chondrite analyses</a>
        li <a href="http://space.alglobus.net/presentations/ISUasteroidMining/ISU2010AsteroidMining.pdf">Asteroid Mining Presentation</a>
        li <a href="http://www.amazon.com/Mining-The-Sky-Asteroids-Planets/dp/0201328194">Mining the Sky</a>

  |<script>mixpanel.track('about');</script>
block page_js
  != renderJs('main')
