div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') Asterank
      div.nav-collapse
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/about') About
          li.active
            a(href='/feedback') Feedback

div.span12
  div.row-fluid
    h1 Feedback
    p All feedback is welcome, especially if it makes this site more informative, accurate, and interesting.
    p I'm especially interested in fine-tuning the estimations and calculations for asteroid composition, value of materials, and cost of extraction.
    p <strong>Please email ian /at/ asterank /dot/ com or contact me on one of the social networks listed <a href="http://ianww.com/">here</a>.</strong>
    p Thanks!

    //
      div.span6.well
        form.form-horizontal(action='/feedback', method='POST')
          fieldset
            div.control-group
              label.control-label(for='feedback') Email
              div.controls
                input#email.input-medium(type='text',name='email')
            div.control-group
              label.control-label(for='feedback',name='feedback') Feedback
              div.controls
                textarea#feedback.input-xlarge(rows=5)
            div.form-actions
              button(type='submit').btn.btn-primary Send

|<script>mixpanel.track('feedback');</script>
