link(rel='stylesheet', href='/css/bs-r.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/lib/jquery.dataTables.css')
link(rel='stylesheet', href='/css/lib/jquery.dataTables_themeroller.css')
link(rel='stylesheet', href='/css/lib/jquery-ui-1.8.20.custom.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/main.js')
script(src='/js/lib/jquery.dataTables.js')
script(src='/js/bs.js')
