
div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') Asterank
      div.nav-collapse
        ul.nav
          li.active
            a(href='/') Home

div.container-fluid
  div.sidebar.left
    div.well
      h1 Asteroids

  div.content.fixed-fluid
    div.hero-unit(style='padding:15px')
      h2 Asterank is an economic and scientific analysis of 500,000 asteroids in our solar system.

    div.welcome-blurb
      p With all the recent hype around asteroid mining, I wanted real numbers.  How realistic were the trillion dollar estimates?  What about the costs and overhead?

      p I've attempted to calculate or infer things like asteroid mass and composition.  I’ve collected data on their orbits and included data from NASA and JPL.  Using this information, I estimate the costs and rewards of commercially exploiting rocks in space.

      p Take a look at the results:
        ul
          li Best overall (most cost-effective)
          li Most accessible
          li Most profitable

      p There is $$ worth of rock out there.
