div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') Asterank
      div.nav-collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/feedback') Feedback

div.row-fluid
  div.span12
    div.hero-unit(style='padding:15px;margin-bottom:20px')
      h2 Asterank is an economic and scientific catalog of over 500,000 asteroids in our solar system.

    div.welcome-blurb.well
      img(style='float:right;padding-left:10px;padding-bottom:11px;width:300px;height:auto', src='http://i.imgur.com/vvAjG.jpg')
      p Asteroid mining has been in the news recently. <a href="http://www.space.com/15395-asteroid-mining-planetary-resources.html" target="_blank">Planetary Resources</a> is an exciting take on the commercial viability of space industry.  But how realistic are the trillion dollar estimates?  How much would it cost to mine an object millions of miles away?

      p We've collected, computed, or inferred important data points such as asteroid mass and composition using scraped data from multiple scientific sources.  With this information, we estimate the costs and rewards of mining rocks in space.

      p There are three major factors:
        ol
          li <strong>Value of Materials</strong> - Many asteroids contain metals, volatile compounds, and water.
          li <strong>Cost of Operations</strong> - Getting to an asteroid and moving the raw material isn't easy or cheap (yet).
          li <strong>Comparative Savings</strong> - The biggest obstacle to the commercialization of space is getting things into orbit.  How much money do we save by mining in space instead of sending material from Earth?

      p The data on these objects is public but very sparse.  It's 2012, and there are no "experts" in this field.  Assumptions are made.

    div.well(style='text-align:center;')
      form.form-inline(style='margin:0')
        div.search-thing
          span Show top
          select#top_num(style='margin:0 5px 0').input-small
            option(value=100) 100
            option(value=1000) 1,000
            option(value=5000) 5,000
            option(value=10000) 10,000+
          span  asteroids sorted by
          select#top_sort(style='margin:0 5px 0').input-xlarge
            option(value='profit') profit
            option(value='score', selected) most cost effective
            option(value='price') most valuable
            option(value='closeness') closest
          input#submit.btn.btn-large.btn-primary(type='submit', value='Go', style='width:175px;margin-left:15px')

div#results.row-fluid(style='display:none;')
  div.span3
    div#instructions
      h3 Click on an object to view its details.
    div#details(style='display:none;')
      h2
      table.table.table-bordered.table-condensed
        thead
          tr
            th Data
            th Value
        tbody
  div#tbl-container.span9(style='height:400px;overflow:scroll;overflow-x:auto;')
    table#tbl.table.table-bordered.table-striped.table-condensed
      thead(style='background-color:#fff')
        tr
          th Name
          th Score
          th Value ($)
          th Closeness
          th Est. Profit ($)
          th Type
          th Aphelion (AU)
          th Perhelion (AU)
          th MOID (AU)
          th &Delta;V (km/s)
          th pha
      tbody(style='cursor:pointer;')

div#legend.row-fluid(style='margin-left:15px;display:none;')
  div.span10
    span
      a(href='#', onClick="$('#legend-details').toggle();return false;") Explain column names
    div#legend-details(style='display:none;')
      ul
      li Value - the current value of the raw materials in this object.
      //
        li Cost - the <em>very</em> hypothetical cost of processing and moving raw asteroid is estimated to be 25% of the projected cost of sending a kg of material into space from Earth, with a 5% loss of material.
      li Closeness - an overall score that estimates how accessible the object is.
      li MOID (=EMOID=Earth Minimum Orbit Intersect Distance) - how close the object may come to Earth.
      li Aphelion - Greatest distance from sun.
      li Perhelion - Least distance from sun.
      li &Delta;v (for spacecraft rendezvous) - Change in velocity required to rendezvous with this asteroid.
      li PHA (Potentially Hazardous Object) - whether this object is classified by scientists as a potential hazard to Earth.
      li Type (Asteroid Spectral Type) - the spectral classification of this object, which lets us guess its composition.

div#feedback-modal.modal(style='display:none;')
  div.modal-header
    a.close(data-dismiss='modal') ×
    h2 Feedback
  div.modal-body
    p
      textarea.xlarge(rows=5, cols=80, style='width:500px')#feedback
  div.modal-footer
    a#submit-feedback.btn.btn-primary(data-dismiss='modal') Submit
    a.btn(data-dismiss='modal') Close

div#approaches-modal.modal(style='display:none;')
  div.modal-header
    a.close(data-dismiss='modal') ×
    h2 Close Approaches for <span id="close-approaches-name"></span>
  div.modal-body(style='overflow:auto;height:250px;')
    table.table
      thead
        tr
          th Date
          th Distance (AU)
          th Relative Velocity (km/s)
      tbody
  div.modal-footer
    a.btn(data-dismiss='modal') Close
