div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') Asterank
      div.nav-collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='/') About
          li
            a(href='/') FAQ
          li
            a(href='/') Sources
          li
            a(href='/') Disclaimer

div.span12
  div.hero-unit(style='padding:15px')
    h2 Asterank is an economic and scientific catalog of over 500,000 asteroids in our solar system.

  div.welcome-blurb.alert.alert-info
    <a class="close" data-dismiss="alert" href="#">×</a>
    p With all the recent hype around asteroid mining, I wanted real numbers.  How realistic are the trillion dollar estimates?  What about the costs and overhead?

    p I've attempted to calculate or infer things like asteroid mass and composition.  I’ve collected data on their orbits from sources including NASA and JPL.  Using this information, I estimate the costs and rewards of commercially exploiting rocks in space.

    p There are three factors we consider in this evaluation:
      ol
        li <strong>Cost to Orbit</strong> - The biggest obstacle to the commercialization of space getting things into orbit.  How much money do we save by mining in space?
        li <strong>Cost of Materials</strong> - Asteroids are full of valuable raw materials.  How much are they worth?
        li something else

    p Take a look at the results:
      ul
        li Best overall (most cost-effective)
        li Most accessible
        li Most profitable

    p There is $$ worth of rock out there.

  div.row
    div.span12.well
      form.form-inline(style='margin:0')
        div
          span Search top
          select#top_num(style='margin:0 5px 0').input-small
            option 100
            option 1,000
            option 10,000
            option 100,000
            option 1,000,000
          span  asteroids sorted by
          select#top_sort(style='margin:0 5px 0').input-medium
            option most cost effective
            option most valuable
            option closest
          input#submit.btn.btn-primary(type='submit')

        //
          div(style='margin: 5px 0 0')
            p or
          div(style='margin: 5px 0 0')
            span Search for an object:
            input#search(type='text', style='margin: 0 5px 0')

          div(style='margin: 5px 0 0')
            input#submit.btn.btn-primary(type='submit')

div.span12
  div.row(style='margin-left:0')
    div.results(style='width:70%;float:left;overflow:auto;overflow-y:hidden;-ms-overflow-y: hidden')
      table#tbl.table.table-bordered.table-striped.table-condensed
        thead
          tr
            th Name
            th Score
            th Value ($)
            th Saved ($)
            th Closeness
            th Type
            th MOID (AU)
            th pha
        tbody

    div(style='width:25%;float:right;padding:15px 0 0')
      h1 Pallas 2
      table(border=1)
        tr
          td Full designation
          td blahblah
        tr
          td Orbit
          td meow

div.row(style='margin-left:15px')
  div.span12
    ul
    li Price - the current price of the raw materials in this object.
    li Saved - the hypothetical cost of getting the valuable material in this object from Earth into space (at SpaceX's published rate per kg), less the estimated overhead of getting these materials off an asteroid.
    li MOID (=EMOID=Earth Minimum Orbit Intersect Distance) - how close the object can come to Earth.
    li PHA (Potentially Hazardous Object) - whether this object is classified by scientists as potentially hazard to Earth.
    li Type (Asteroid Spectral Type) - the spectral classification of this object, which lets us guess its composition.

div#feedback-modal.modal(style='display:none;')
  div.modal-header
    a.close(data-dismiss='modal') ×
    h2 Feedback
  div.modal-body
    p
      textarea.xlarge(rows=5, cols=80, style='width:500px')#feedback
  div.modal-footer
    a#submit-feedback.btn.btn-primary(data-dismiss='modal') Submit
    a.btn(data-dismiss='modal') Close
