
div.span12
  div.container
    div.hero-unit(style='padding:15px')
      h2 Asterank is an economic and scientific analysis of 500,000 asteroids in our solar system.

    div.welcome-blurb.alert.alert-info
      <a class="close" data-dismiss="alert" href="#">×</a>
      p With all the recent hype around asteroid mining, I wanted real numbers.  How realistic are the trillion dollar estimates?  What about the costs and overhead?

      p I've attempted to calculate or infer things like asteroid mass and composition.  I’ve collected data on their orbits and included data from NASA and JPL.  Using this information, I estimate the costs and rewards of commercially exploiting rocks in space.

      p Take a look at the results:
        ul
          li Best overall (most cost-effective)
          li Most accessible
          li Most profitable

      p There is $$ worth of rock out there.

    div.results
      form.form-search
        input#search.search-query(type='text')

      table(border=1, cellpadding=5, cellspacing=10)
        thead(style='font-weight:bold;')
          td 123
          td 457
          td 980
        tr
          td dkjdasjhdas
          td asdkasdl
          td adslkdasjkl


