- if (context.js_bundled)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js')
  script(src='/js/bundle.js')
  - if (!context.production)
    h3(style='color:red;text-align:center;') *BUNDLED*
-else
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js')
  script(src='/js/shared_util.js')
  script(src='/js/main.js')
  script(src='/js/orbit.js')
  script(src='/js/lib/bs.js')
  script(src='/js/lib/jquery.thfloat.min.js')
  script(src='/js/lib/underscore-min.js')
  script(src='/js/lib/d3.v2.js')
  script(src='/js/lib/flotr2.js')
