!!!
html
  head
    title Asteroid Mining Value, Profit, and Ranking - Asterank
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    include styles
  body
    //
      - if (false && typeof(nosocial) !== 'undefined' && !nosocial)
        include facebook
    div.container-fluid!= body
    <script>mixpanel = {track:function(){}}</script>
    include mixpanel
    include js
