!!!
html
  head
    title Asteroid Mining Value, Profit, and Rankings - Asterank
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    include includes
    include mixpanel
  body
    div.container-fluid!= body
