!!!
html
  head
    title Asteroid Mining - Most Valuable and Profitable Asteroids Ranking - Asterank
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    include styles
    block head
  body
    div.container-fluid
      block content
    include js
    block page_js

    - if (context.production)
      include mixpanel
    - else
      h3(style='color:red;text-align:center;') *DEVELOPMENT*
      <script>mixpanel = {track:function(){}}</script>
    include ga
