link(rel='stylesheet', href='/css/bs-r.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/rickshaw.min.css')
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
