<!DOCTYPE html>
<html lang="en" {% block html_tag %}{% endblock %}>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Asteroid Database and Mining Rankings - Asterank{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
    <meta name="description" content="">
    <meta name="author" content="">
-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    {% assets filter="cssmin", output="gen/packed.css",
    "css/bootstrap.css",
    "css/main.css",
    "css/bootstrap-responsive.css"
    %}
    <link href="{{ASSET_URL}}" rel="stylesheet" />
    {% endassets %}
    {% block head %}
    {% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div style="
    position: absolute;
    background-color: orange;
    color: #000;
    width: 100%;
    height: 1em;
    padding: 1em;
    z-index: 9999;
    text-align: center;
    font-weight: bold;
    top: 0;
    left: 0;
    ">Asterank is moving to <a href="https://www.spacereference.org/" style="
    color: #404040;
">SpaceReference.org</a></div>

    {% include 'blocks/navbar.html' %}

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--<script src="static/js/bootstrap.js"></script>-->
    <script src="static/js/lib/bootstrap-dropdown.js"></script>
    <script src="static/js/lib/bootstrap-tooltip.js"></script>

    {% include 'blocks/tracking.html' %}
    {% block scripts %}{% endblock %}

    {% include 'blocks/social_js.html' %}

  </body>
</html>
