{% extends "base.html" %}

{% block scripts %}

{% assets filter="jsmin", output="gen/packed.js",
"js/lib/jquery.autocomplete.js",
"js/lib/d3.v2.js",
"js/orbit.js",
"js/cache.js",
"js/misc.js",
"js/app.js",
"js/controllers/Asterank3D.js",
"js/controllers/AsteroidDetails.js",
"js/controllers/AsteroidLookup.js",
"js/controllers/AsteroidTable.js",
"js/controllers/IntroStatement.js",
"js/3d/lib/three.js/three.min.js",
"js/3d/lib/three.js/Detector.js",
"js/3d/lib/three.js/TrackballControls.js",
"js/3d/lib/threex/THREEx.WindowResize.js",
"js/3d/ellipse.js",
"js/3d/ephemeris.js",
"js/3d/util.js",
"js/3d/main.js"
%}
<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}


{% endblock %}

{% block content %}
<div id="top-container" class="row">
  <div id="left-side">
      {% include "blocks/intro_statement.html" %}
      {% include "blocks/selection_details.html" %}
  </div>
  <div id="right-side">
    {% include "blocks/main_table.html" %}
  </div>
</div>
<hr class="top-bottom-divider"/>
<div id="bottom-container" class="row">
  {% include "blocks/webgl.html" %}
</div>

{% include "blocks/shaders.html" %}
{% endblock %}
