{% extends "base.html" %}

{% block scripts %}
<script src="static/js/d3.v2.js"></script>
<script src="static/js/orbit.js"></script>
<script src="static/js/cache.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/controllers.js"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div id="left-side" class="span4">
      {% include "blocks/intro_statement.html" %}
      {% include "blocks/selection_details.html" %}
  </div>
  <div class="span8">
    {% include "blocks/main_table.html" %}
  </div>
</div>
<hr style="margin-top:0"/>
<div class="row-fluid">
  {% include "blocks/webgl.html" %}
</div>
{% endblock %}
