{% extends "base.html" %}

{% block scripts %}

<script src="static/js/lib/jquery.autocomplete.js"></script>

<script src="static/js/lib/d3.v2.js"></script>
<script src="static/js/orbit.js"></script>
<script src="static/js/cache.js"></script>
<script src="static/js/misc.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/controllers/Asterank3D.js"></script>
<script src="static/js/controllers/AsteroidDetails.js"></script>
<script src="static/js/controllers/AsteroidLookup.js"></script>
<script src="static/js/controllers/AsteroidTable.js"></script>
<script src="static/js/controllers/IntroStatement.js"></script>

<!-- 3d stuff -->
<script src="static/js/3d/lib/three.js/three.min.js"></script>
<script src="static/js/3d/lib/three.js/Detector.js"></script>
<script src="static/js/3d/lib/three.js/TrackballControls.js"></script>
<!--<script src="static/js/3d/lib/threex.dragpancontrols.js"></script>-->
<!--
<script src="static/js/3d/lib/threex/threex.domevent.js"></script>
<script src="static/js/3d/lib/threex/threex.domevent.object3d.js"></script>
-->
<script src="static/js/3d/lib/threex/THREEx.WindowResize.js"></script>
<!--<script src="static/js/3d/lib/threex/THREEx.FullScreen.js"></script>-->

<!--
<script src="static/js/3d/Worker.js"></script>
-->
<script src="static/js/3d/ellipse.js"></script>
<script src="static/js/3d/ephemeris.js"></script>
<script src="static/js/3d/util.js"></script>
<!--<script src="static/js/3d/trackballx.js"></script>-->
<script src="static/js/3d/main.js"></script>

{% endblock %}

{% block content %}
<div id="top-container" class="row">
  <div id="left-side">
      {% include "blocks/intro_statement.html" %}
      {% include "blocks/selection_details.html" %}
  </div>
  <div id="right-side">
    {% include "blocks/main_table.html" %}
  </div>
</div>
<hr class="top-bottom-divider"/>
<div id="bottom-container" class="row">
  {% include "blocks/webgl.html" %}
</div>

{% include "blocks/shaders.html" %}
{% endblock %}
