<html>
  <title>3D Interactive Asteroid Space Visualization - Asterank</title>
<body style="background-color:#000;color:#ccc;font-family:Helvetica,Arial,sans-serif">
<center>
  <h2>Sorry, your browser or graphics card doesn't support Asterank.</h2>
<iframe width="98%" height="93%" src="https://www.youtube.com/embed/iJQ-2o8umAg?rel=0&autoplay=1&autoreplay=1" frameborder="0" allowfullscreen></iframe></center>

<script type="text/javascript">
if(~document.location.href.indexOf('asterank.com')) {
(function() {
(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
})();
mixpanel.init("6b34941ba1e8a39264cee7fccab432f2");mixpanel.track('notsupported video');
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32180949-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
}
else {
  mixpanel = {track: function() {}};
}</script>
</body>
</html>
